# Node.js API Config
PORT=4000
NODE_ENV=production

# Neon DB (Cloud PostgreSQL)
DATABASE_URL=postgresql://user:password@ep-xyz.region.aws.neon.tech/neondb?sslmode=require

# Upstash Redis (Cloud)
REDIS_URL=rediss://default:your_upstash_password@your-redis-url.upstash.io:6379

# Qdrant Cloud (Vector DB)
QDRANT_URL=https://your-cluster-id.eu-central.aws.cloud.qdrant.io:6333
QDRANT_API_KEY=your_qdrant_api_key

# Internal Webhook Security
WEBHOOK_SECRET=your_super_secret_webhook_token

# AI Model Configuration
AI_ENVIRONMENT=production

GEMINI_API_KEY=your_gemini_api_key
LLM_MODEL_NAME=gemini-3.5-flash
EMBEDDING_MODEL_NAME=gemini-embedding-2

# HuggingFace လို Free API ပြောင်းသုံးနိုင်သည်
# CLOUD_EMBEDDING_API_KEY=your_huggingface_key 
# EMBEDDING_MODEL_NAME=BAAI/bge-m3

